* {
    box-sizing: border-box;
    outline: none;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.5rem;
    margin: 0 auto;
    background-color: #f1f2f2;
    font-family: 'Anton', sans-serif;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav ul li a {
    font-size: 2.5rem;
}
.product ul {
    list-style-type: none;
}
header {
    background-image: url('../img/background.jpg');
    height: 30rem;
    padding-top: 10.5rem;
    position: relative;
}
footer {
    background-color: #191919;
    height: 20rem;
    padding-top: 7rem;
}
.form {
    width: 50%;
    text-align: center;
    margin-left: 30rem;
}
.container {
    text-align: center;
}
.product img {
    height: 15rem;
    border-radius: 10px;
}
.login {
    width: 20%;
    margin-top: 10rem;
    margin-left: 45rem;
}
h1 {
    text-align: center;
}
.bonjour {
    position: absolute;
    right: 10rem;
    top: 5rem;
}
.container-product {
    display: flex;
    justify-content: space-around;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 8rem;
}
.img-product {
    float: left;
    width: 25%;
    margin-top: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    border-radius: 10px;
}
.displayProduct {
    margin-top: 6rem;
    text-align: justify;
}
.img-cart {
    float: left;
    width: 10%;
    margin-top: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    border-radius: 10px;
}